body {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  color: #474167;
  font-family: 'Ubuntu', sans-serif;
  background: #0d0444;
  position: relative;
  z-index: 1; }
  body * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

a {
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: inherit; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

button {
  cursor: pointer; }

label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  label:hover, label:active, label:focus {
    border: 0 !important;
    background: 0 !important;
    outline: 0 !important; }

input[type="radio"]:hover, input[type="radio"]:active, input[type="radio"]:focus {
  border: 0 !important;
  background: 0 !important;
  outline: 0 !important; }

section {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

select, input, textarea {
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent; }

.content-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.page-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1; }

.footer-wrapper {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1;
      -ms-flex: 0 1;
          flex: 0 1; }

.box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  padding: 0 60px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.row {
  max-width: 1620px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto; }

button {
  position: relative;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  padding: 0px; }
  button:after {
    content: "";
    width: 7px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    -webkit-transform: rotate(28deg);
        -ms-transform: rotate(28deg);
            transform: rotate(28deg);
    background: rgba(255, 255, 255, 0.3);
    display: block;
    position: absolute;
    left: 0;
    top: -5px;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-name: buttonAnimation;
            animation-name: buttonAnimation;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
  button span {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    text-align: center; }

@-webkit-keyframes buttonAnimation {
  0% {
    left: -30px;
    margin-left: 0px; }
  30% {
    left: 110%;
    margin-left: 80px; }
  100% {
    left: 110%;
    margin-left: 80px; } }

@keyframes buttonAnimation {
  0% {
    left: -30px;
    margin-left: 0px; }
  30% {
    left: 110%;
    margin-left: 80px; }
  100% {
    left: 110%;
    margin-left: 80px; } }

.link {
  font-family: 'Exo 2',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .link:after {
    content: "";
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 51px;
    height: 51px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    border: 1px solid #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .link:before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0%;
    height: 1px;
    background: #fff;
    display: block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .link:hover {
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .link:hover:before {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      width: -webkit-calc(100% - 70px);
      width: calc(100% - 70px); }
    .link:hover:after {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      background-position-x: 100%;
      border-color: rgba(255, 255, 255, 0.6); }

.main {
  width: 100%;
  padding: 130px 0px;
  position: relative; }
  .main .main-content {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #ffffff; }
  .main .first-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 185px; }
    .main .first-section__left {
      max-width: 420px;
      width: 100%;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .main .first-section__left-top {
        margin-bottom: 68px; }
        .main .first-section__left-top span {
          font-family: 'Exo 2',sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 36px;
          line-height: 43px;
          letter-spacing: 0.02em;
          color: #FFFFFF; }
      .main .first-section__left-bottom {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .main .first-section__left-bottom .param {
          font-family: 'Exo 2',sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          letter-spacing: 0.02em;
          color: rgba(255, 255, 255, 0.6);
          margin-bottom: 30px; }
          .main .first-section__left-bottom .param span {
            padding-left: 10px; }
          .main .first-section__left-bottom .param:last-of-type {
            margin-bottom: 0px; }
    .main .first-section__right {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .main .first-section__right .final-summ {
        font-family: 'Exo 2',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 77px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 60px; }
      .main .first-section__right .link {
        max-width: 480px; }
  .main .second-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    .main .second-section__left {
      max-width: 430px;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-right: 183px; }
      .main .second-section__left-top {
        margin-bottom: 38px; }
        .main .second-section__left-top span {
          font-family: 'Exo 2',sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 36px;
          line-height: 43px;
          letter-spacing: 0.02em;
          color: #FFFFFF; }
      .main .second-section__left-bottom {
        margin-bottom: 74px; }
        .main .second-section__left-bottom span {
          font-family: 'Exo 2',sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          letter-spacing: 0.02em;
          color: rgba(255, 255, 255, 0.6); }

.backround-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 300px;
  line-height: 366px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.05);
  position: absolute;
  top: 33px;
  right: 200px;
  max-width: 930px;
  word-break: break-all; }

.go-to-main {
  width: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .go-to-main__link {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    opacity: .7; }
    .go-to-main__link img {
      margin-left: 10px; }
    .go-to-main__link:hover {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      opacity: 1; }

.header {
  width: 100%;
  height: 125px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header-content {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 400px;
    width: 100%;
    color: #ffffff; }
    .header__name-text {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.04em; }
      .header__name-text.name {
        font-family: 'Exo 2', sans-serif;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.1em;
        text-transform: uppercase; }
  .header__contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__contacts-callback {
      width: 197.05px;
      height: 47.68px;
      border: 1px solid #FFFFFF;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-border-radius: 39.5px;
              border-radius: 39.5px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-right: 40px;
      font-family: 'Exo 2', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      .header__contacts-callback:hover {
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        background-color: rgba(255, 255, 255, 0.2); }
    .header__contacts .callback-container {
      position: relative; }
      .header__contacts .callback-container .callback-form {
        position: absolute;
        top: -webkit-calc(100% + 60px);
        top: calc(100% + 60px);
        left: 0;
        width: 373.92px;
        height: 162.52px;
        background: rgba(0, 0, 0, 0.55);
        -webkit-border-radius: 27px;
                border-radius: 27px;
        padding: 26px 32px;
        display: none; }
        .header__contacts .callback-container .callback-form form {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: end;
          -webkit-align-items: flex-end;
              -ms-flex-align: end;
                  align-items: flex-end; }
        .header__contacts .callback-container .callback-form__input {
          width: 309.6px;
          height: 43px;
          border: 1px solid rgba(255, 255, 255, 0.91);
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          -webkit-box-shadow: 0px 0px 4px #000000;
                  box-shadow: 0px 0px 4px #000000;
          -webkit-border-radius: 39.5px;
                  border-radius: 39.5px;
          background: rgba(0, 0, 0, 0.21);
          padding: 12px 47px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 19px;
          letter-spacing: 0.015em;
          color: rgba(255, 255, 255, 0.68);
          margin-bottom: 23px; }
          .header__contacts .callback-container .callback-form__input:focus {
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
            background: rgba(0, 0, 0, 0.41); }
        .header__contacts .callback-container .callback-form__submit-btn {
          width: 177.35px;
          height: 42.92px;
          background: #3ABEC2;
          -webkit-border-radius: 39.5px;
                  border-radius: 39.5px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          font-family: 'Exo 2', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          line-height: 12px;
          letter-spacing: 0.02em;
          color: #ffffff;
          border: 1px solid #3ABEC2;
          -webkit-transition: .2s;
          -o-transition: .2s;
          transition: .2s; }
          .header__contacts .callback-container .callback-form__submit-btn:hover {
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
            background-color: rgba(58, 190, 194, 0.2); }
    .header__contacts-phones {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: 47.68px; }
    .header__contacts-phone {
      font-family: 'Exo', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 140.9%;
      letter-spacing: 0.02em;
      color: #FFFFFF; }

.logo {
  margin: 0px 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75px;
  height: 75px;
  border: 1px solid #42B4B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
  .logo-circle {
    width: 57.45px;
    height: 57.45px;
    border: 1px solid #42B4B8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .logo-text {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: #42B4B8;
    color: #42B4B8; }

.footer {
  width: 100%;
  height: 164.64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.35); }
  .footer .box {
    height: 100%; }
  .footer-text {
    font-family: 'Open Sans', sans-serif; }
  .footer-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: rgba(255, 255, 255, 0.5);
    padding: 44px 0px; }
    .footer-content__section.first {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 300px;
      width: 100%;
      margin-right: 70px; }
      .footer-content__section.first .logo,
      .footer-content__section.first .logo-circle {
        border-color: rgba(255, 255, 255, 0.5); }
      .footer-content__section.first .logo-text {
        color: rgba(255, 255, 255, 0.5); }
    .footer-content__section.second {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: 140px;
      width: 100%;
      margin-right: 95px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100%; }
      .footer-content__section.second .footer-text {
        font-family: 'Exo',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 140.9%;
        letter-spacing: 0.02em;
        color: rgba(255, 255, 255, 0.5); }
    .footer-content__section.third {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      max-width: 430px;
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%; }
    .footer-content__section.fourth {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: 215px;
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .footer-content__section.fifth {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 300px;
      width: 100%; }

@media (max-width: 1500px) {
  .footer-content {
    font-size: 14px; }
  .footer-content__section.first,
  .footer-content__section.second,
  .footer-content__section.third,
  .footer-content__section.fourth {
    margin-right: 30px; }
  .audio-player .player-controls {
    width: 400px; } }

@media (max-width: 1300px) {
  .audio-player .player-controls {
    width: 200px; } }

@media (max-width: 1100px) {
  .main .second-section__left {
    margin-right: 100px; } }

@media (max-width: 991px) {
  .header__name-text,
  .footer-content__section.first .logo,
  .footer-content__section.second {
    display: none; }
  .header__name-text.name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .footer-content__section.first,
  .footer-content__section.second,
  .footer-content__section.third,
  .footer-content__section.fourth,
  .footer-content__section.fifth {
    width: 50%;
    max-width: initial;
    margin-right: 0px;
    margin-bottom: 15px;
    height: auto; }
  .footer-content__section.first {
    padding-right: 15px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .footer-content__section.fifth {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .footer-content__section.fourth {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    padding-right: 15px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .footer-content__section.third {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer-content__section.second {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; }
  .footer-content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .main .first-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .main .first-section__left {
    max-width: initial;
    margin-right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 64px; }
  .main .first-section__right {
    width: 100%; }
  .main .first-section__left-top,
  .main .first-section__left-bottom {
    width: 50%;
    margin: 0px; }
  .link {
    font-size: 14px; }
  .main .first-section__right .link {
    max-width: 310px; }
  .main .first-section__right .final-summ {
    font-size: 38px; }
  .main .first-section {
    margin-bottom: 55px; }
  .main .second-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .main .second-section__left {
    max-width: initial;
    margin-right: 0px; }
  .main .second-section__right {
    width: 100%; }
  .main .second-section__left-bottom {
    margin-bottom: 25px;
    max-width: 365px;
    width: 100%;
    margin-top: 55px; }
  .main .second-section__left-bottom span {
    font-size: 20px; }
  .main .second-section__left .link {
    max-width: 230px; }
  .backround-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 144px;
    line-height: initial;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.05);
    position: absolute;
    bottom: 50%;
    top: initial;
    left: 40%;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 100%;
    max-width: initial; }
  .audio-player .player-controls {
    min-width: initial; }
  .go-to-main {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 25px; } }

@media (max-width: 769px) {
  .backround-text {
    display: none; } }

@media (max-width: 767px) {
  .header__name-text.name {
    display: none; }
  .box {
    padding: 0px 20px; }
  .header__contacts-phone {
    font-family: 'Exo', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 140.9%;
    letter-spacing: 0.02em;
    color: #FFFFFF; }
  .logo {
    width: 46px;
    height: 46px; }
  .logo-circle {
    width: 35px;
    height: 35px; }
  .logo-text {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #42B4B8; }
  .main {
    padding: 25px 0px; }
  .header {
    height: 100px; }
  .header__name {
    max-width: initial;
    width: auto; }
  .main .first-section__left-top span {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #FFFFFF; }
  .main .first-section__left-top {
    max-width: 195px;
    width: 100%;
    margin-right: 15px; }
  .main .first-section__left-bottom {
    max-width: 200px;
    width: 100%;
    padding-left: 10%; }
  .main .first-section__left {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .main .first-section__left-bottom .param {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 5px; }
  .main .first-section__left {
    margin-bottom: 35px; }
  .main .first-section__right .final-summ {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px; }
  .main .first-section__right {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .link {
    font-size: 12px; }
    .link:after {
      width: 30px;
      height: 30px;
      -webkit-background-size: 50% 50%;
              background-size: 50%; }
  .main .first-section__right .link {
    max-width: 245px;
    width: 100%; }
  .main .second-section__left-bottom span {
    display: none; }
  .footer {
    height: auto; }
  .main .second-section__left-top {
    max-width: 170px;
    width: 100%; }
    .main .second-section__left-top span {
      font-family: 'Exo 2', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: #FFFFFF; }
  .main .second-section__left {
    position: relative; }
  .audio-player #play-btn {
    position: absolute;
    top: -20px;
    left: 150px; }
  .audio-player .player-controls {
    width: 100%;
    margin-left: 0px; }
  .main .second-section__left .link {
    max-width: 180px; } }
