footer.footer
	.box
		.footer-content
			.footer-content__section.first
				a(href="/" class="logo")
					.logo-circle
						span(class="logo-text") Ъ
				span(class="footer-text") © СК ООО «ЭТАЛОНЪ
			.footer-content__section.second
				a(href="tel:74957452703"class="footer-text") +7 (495) 745-27-03
				a(href="tel:79852103168"class="footer-text") +7 (985) 210-31-68
			.footer-content__section.third
				span(class="footer-text") Адрес
			.footer-content__section.fourth
				span(class="footer-text") ИНН: 7722526444,
				span(class="footer-text") ОГРН: 1047796735711
			.footer-content__section.fifth
				a(href="privacy.html" class="footer-text") Политика конфиденциальности