header.header
    .box
      .header-content
        a(href="/3" class="header__name")
            span(class="header__name-text name") эталон
            .logo
              .logo-circle
                span(class="logo-text") Ъ
            span(class="header__name-text") Строительство хамамов и СПА-зон
        .header__contacts
          .header__contacts-phones
            a(href="tel:74957452703" class="header__contacts-phone") +7 (495) 745-27-03
            a(href="tel:79852103168" class="header__contacts-phone") +7 (985) 210-31-68