extends blocks/_layout
append content
	main.main
		.box
			.row
				.main-content
					//- .backround-text ЭТАЛОНЪ
					.first-section
						.first-section__left
							.first-section__left-top
								span Стоимость строительства бассейна
							.first-section__left-bottom
								.param.height Длина:
									span 5,0
									| м
								.param.width Длина:
									span 3,0
									| м
								.param.length Длина:
									span 2,0
									| м
						.first-section__right
							.final-summ ОТ:
								span 1 235 000
								| руб
							a(class="link" href="/") Получить консультацию инженера
					.second-section
						.second-section__left
							.second-section__left-top
								span Узнайте как формируется цена
							.second-section__left-bottom
								span Коммерческий директор “ЭТАЛОНЪ” рассказывает, как определяется стоимость строительства вашего проекта.
							a(class="link" href="/") Посмотреть портфолио
						.second-section__right
							.audio-player
								#play-btn
								#player-container.audio-wrapper(href='javascript:;')
									audio#player(ontimeupdate='initProgressBar()')
										source(src='audio/grot.mp3' type='audio/mp3')
								.player-controls.scrubber
									span#seek-obj-container
										span#player-dot
										progress#seek-obj(value='0' max='1')
									.time
										small#start-time 0:00
										span /
										small#end-time 3:25


